 /* .tabBar {
    height: 40px;
    width: 100px;
    background-color: white;
    font-size: large;
    margin: 0 10px 10px 0;
    border-radius: 8px;
}

.tabBar:hover {
    cursor: pointer;
}

.tabBar:disabled {
    cursor: default;
} */
