name: Create New CodeSandBoxDemo
permissions:
  contents: write
on:
  workflow_dispatch:
    inputs:
      HEADLESS_VERSION:
        description: 'Headless version to update to'
        required: true
        default: ''
  repository_dispatch:
    types: [headless_docs_generated]

env:
  HEADLESS_VERSION: ${{ github.event_name == 'repository_dispatch' && github.event.client_payload.HEADLESS_VERSION || github.event.inputs.HEADLESS_VERSION }}

jobs:
  create-new-demo:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Setup Ruby in runner
        uses: ruby/setup-ruby@d5f787ce339eb0767271bc01d922e85644c2c8ab
        with:
          ruby-version: '4.0.0'
        env:
          ImageOS: ubuntu22
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Make a new Branch for version
        run: |
          git checkout -b "version-${{ env.HEADLESS_VERSION }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Run script to update package.json on new branch
        run: |
          cd .github/scripts
          ruby update_package.rb ${{ env.HEADLESS_VERSION }}
          cd ../..
          git config user.name ${{ secrets.AUTHOR }}
          git config user.email ${{ secrets.AUTHOR_EMAIL }}
          git status
          git add package.json
          git commit -m "update package to version ${{ env.HEADLESS_VERSION }}"
          git push --set-upstream origin "version-${{ env.HEADLESS_VERSION }}"